*{
	margin:0;
	padding: 0;
	-box-sizing: border-box 
	-webkit-box-sizing: border-box ;
	-moz-box-sizing: border-box ;	
	
}

body{

	background: #f0f2f1;
	font-family: 'Open Sans',sans-serif;
}

a{

	text-decoration: none;
}

.contenedor{
	max-height: 1000px;
	margin: 50px auto;
	
}

